[user]
  email = lazdnet@gmail.com
  name = Larry Davis
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  autocrlf = input
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
[color]
	ui = true
